# Database
DB_PASSWORD=your_db_password
DATABASE_URL="postgresql://your_user:${DB_PASSWORD}@your_host:your_port/your_db?pgbouncer=true"
DIRECT_URL="postgresql://your_user:${DB_PASSWORD}@your_host:your_port/your_db?sslmode=require"

# JWT Configuration
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

# CSRF Protection
CSRF_SECRET=your_csrf_secret

# Supabase
SUPABASE_URL="https://your-project.supabase.co"
SUPABASE_KEY="your_supabase_key"
SUPABASE_BUCKET="images"

# Server port
PORT=3000

# Email configuration
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_password
FRONTEND_URL=http://localhost:5173